
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	color: white;
	overflow: none;
	font-family: 'Lato', sans-serif;
}

/*Background */

.background-image {
	position: absolute;
	z-index: -100;
	opacity: 0.6;
	width: 100vw;
	height: auto;
}

/* Content wraps everything and resizes based on media width */

.content {
	height: 100vh;
}


/* Heading - The Evernden Cabin */
.heading {
	position: absolute;
	text-align: center;
	font-size: 1.5vw;
	font-family: 'Sacramento', sans-serif;
	width: 100vw;
	top: -20%;
	opacity: 0;

	-webkit-transition: top 0.8s, opacity 1s;
}

.heading h1 {
	display: inline-block;
	font-weight: 100;
}

.heading h1:hover {
	cursor: pointer;
}

.heading-landing-pos {
	top: 33%;
	opacity: 1;
}


/* Custom navigation buttons*/
.button-bar{
	position: absolute;
	text-align: center;
	width: 100vw;
	top: 45%;
	font-size: 1vw;
}

.custom-button {
	display: inline-block;
	margin: 0 2vw;
}

.custom-button:hover{
	cursor: pointer;
}