photos {
}

.album {
	text-align: center;
}

.album .thumbs {
	display: inline;
}

.album .thumb {
	background-color: rgba(0,0,0,0.3);
	height: 20vh;
	width: 40vh;
	display: inline-block;
	margin: 1%;
	border:1px solid white;
}

.thumb:hover {
	cursor: pointer;
}

.album .thumb img{
	max-height: 20vh;
	max-width: 40vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}


/* Modal css */

.modal {
	position: absolute;
	top: -10vh;
	left: 5vw;
	height: 90vh;
	width: 90vw;
	display: none;
}

.modal img{
	display: block;
	margin-left: auto;
    margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}

.visible{
	display: inline;
}

.modalOpen {
    /* Blur and de-color */
    -webkit-filter: blur(2px) opacity(70%);
    filter: blur(2px) opacity(70%);
    pointer-events: none;
}
