<link href="css/calendar.css" rel="stylesheet" type="text/css">

<div class="calendar" ng-controller="calendarCtrlr">
	<div class="date-decrement" ng-click="constructCalendar(month - 1)"><h1> < </h1></div>
	<div class="date-heading">
		<h1>{{month_string + ' ' + year}}</h1>
	</div>
	<div class="date-increment"><h1 ng-click="constructCalendar(month + 1)"> > </h1></div>
	<div class="day-names">
		<ul>
			<li>Sunday</li>
			<li>Monday</li>
			<li>Tuesday</li>
			<li>Wednesday</li>
			<li>Thursday</li>
			<li>Friday</li>
			<li>Saturday</li>
		</ul>
	</div>

	<div class="days">
		<div class="day" ng-repeat="day in days" ng-class="day.day_class" ng-click="expandDay(day)">
			<p>{{day.date_number}}</p>
			<p>{{day.reservee}}</p>
		</div>
	</div>

	<div class="day-modal" ng-class="body_class">
		<div class="heading"> 
			<h4>{{modal_heading}}</h4>
			<div class="modal-close-btn" ng-click="closeDay()"> &#10006 </div>
		</div>
		<div class="body"> 
			{{modal_body}}
			<div ng-show="input_display">
				<input type='text' name='user' id='user' ng-model='reservee'>
				<input type='button' value='submit' ng-click='reserveDate()'>
			</div>
		</div>
	</div>
</div>
