<link href="css/calendar.css" rel="stylesheet" type="text/css">

<div class="calendar">
	<div class="date-decrement" ng-click="calendar.constructCalendar(calendar.month - 1)"><h1> < </h1></div>
	<div class="date-heading">
		<h1>{{calendar.month_string + ' ' + calendar.year}}</h1>
	</div>
	<div class="date-increment"><h1 ng-click="calendar.constructCalendar(calendar.month + 1)"> > </h1></div>
	<div class="day-names">
		<ul>
			<li>Sunday</li>
			<li>Monday</li>
			<li>Tuesday</li>
			<li>Wednesday</li>
			<li>Thursday</li>
			<li>Friday</li>
			<li>Saturday</li>
		</ul>
	</div>

	<div class="days">
		<div class="day" ng-repeat="day in calendar.days" ng-class="day.day_class">
			<p>{{day.date_number}}</p>
			<p>{{day.reservee}}</p>
		</div>
	</div>
</div>
