.Article {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  background-color: #0f4a40;
}

.title-bar {
  text-align: left;
}

.title {

}

.author {
  margin: 0;
  font-size: small;
  opacity: 0.7;
}

.body{
  text-align: left;
}