.Calendar {
    color: white;
    background-color: #175947;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    min-height: 100vh;
}

.hidden {
    top: 100vh;
    transition: top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden;
}

.visible {
    transition: top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.calendar-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 8px;
    ;
    width: 63vw;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);

}

.react-calendar { 
    width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}

.react-calendar__month-view__days__day {
    height: 15vh;
}

.fc-body {
    color: black;
    background-color: white;
}

.fc-other-month {
    background-color: #e6e6e6;
}