.Header {
  background-color:rgba(0, 0, 0, 0);
  color: white;
  width: 100%;
  transition: top 0.75s;
  position: absolute;
  font-family: 'Sacramento', serif;
  font-size: 2em;
	font-weight: 100px;
}

.logo {
  cursor: pointer;
  display: inline-block;
}

.navigation-list {
  
}

.underline {
  border-bottom: 3px solid currentColor;
  display: inline-block;
  line-height: 0.5;
}

.top {
  top: 0%;
}

.middle {
  top: 40%;
}

