.News {
    color: white;
    background-color: #175947;
    position: fixed;
    z-index: 50;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 22px;
    width: 100vw;
    height: 85vh;
    overflow-y: auto;
    border-radius: 8px 8px 0 0;
    padding-top: 1em;
    box-sizing: border-box;
}

.hidden {
    top: 105vh;
    transition: top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.visible {
    top: 29vh;
    transition: top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 600px) {
  .News {
    height: 88vh;
    font-size: 18px;
  }

  .visible {
    top: 12vh;
  }
}
