.News {
    color: white;
    background-color: #175947;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 22px;
    width: 100vw;
    height: 100vh;
}

.hidden {
    top: 100vh;
    transition: top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden;
}

.visible {
    transition: top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}